<a href="https://colab.research.google.com/github/anveshveeramalla/Anvesh_INFO5731_SPRING2022/blob/main/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [2]:
# write your answer here
str = "How are you"
print ("Length of the string is:",len(str))

Length of the string is: 11

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [14]:
from collections import Counter
str1= "google.com"
collection =Counter(str1)
print(collection)

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [105]:
# write your answer here
t = 0 
list1 = [23, 45 ,56 ,67, 34 ,56]
for elem in range(0,len(list1)):
  t = t + list1[elem]
print("Sum of all elements in given list is :",t)

Sum of all elements in given list is : 281

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [22]:
# write your answer here
def change_char(str1):
  char = str1[0]
  str1 = str1. replace(char, '$')
  str1 = char + str1[1:]
  return str1
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [60]:
# write your answer here
a = int(input("Enter a Value: "))
b = int(input("Enter a Value: "))
S = 3.14 * (1+a/b)**3
print(S)

Enter a Value: 1
Enter a Value: 2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic_result = {**dic1, **dic2, **dic3}
print("Merged Dictionary:", dic_result)

Merged Dictionary {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [25]:
# write your answer here
fruit_tuple = ("Mango", "orange" , "cherry")
if "Mango"  in fruit_tuple:
  print("Yes, 'Mango' is in the fruits tuple")

Yes, 'Mango' is in the fruits tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [26]:
# write your answer here
setno = {15,3,56,67,78,34,4,1}
print("Original elements:", setno)
print("\nMaximum Value of the Set is :",max(setno))
print("\nMinimum Value of the Set is :",min(setno))

Original elements: {1, 34, 67, 3, 4, 78, 15, 56}

Maximum Value of the Set is : 78

Minimum Value of the Set is : 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [108]:
import random
def parts(l, n):
   
    for i in range(0, len(l), n):
        yield l[i:i + n]

n = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']



random.shuffle(n)

list(parts(n, 5))

[['bg0320', 'gn0108', 'ak0934', 'sk1386', 'nv0234'],
 ['vm0377', 'ak0956', 'kg0470', 'sm1907', 'ja0964'],
 ['sa1198', 'pr0353', 'ds0814', 'sb1357', 'vb0218'],
 ['fh0141', 'sk1313', 'sm1640', 'nm0618', 'av0659'],
 ['aos0040', 'jl1252', 'dr0609', 'sk1390', 'kg0569'],
 ['sg1297', 'hy0232', 'sk1458', 'ms1500', 'sc1229']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [104]:
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
              repeated.append(x[i])
    repeated.append(-1)
    return repeated
    


list1 = [1,2,6,3,4]

print (Repeat(list1))

[-1]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [109]:
# write your answer here
from datetime import date,timedelta
def all_sundays(year):
  dt = date(year,1,1)
  dt += timedelta(days=6 - dt.weekday())

  while dt.year == year:
    yield dt
    dt += timedelta(days = 7)
for s in all_sundays(2022):
  print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25